* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "gotham-rounded-light", Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Gotham-Bold", Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
}

ul li {
  list-style-type: none;
}
