/*
===========================================================
                       GENERAL STYLES
 ==========================================================
*/

/* In this section we are setting the color pallette for the entire page so it can be easyly changed
for any other pallette of choice */
:root {
  --color1: #3b393a;
  --color2: #888888;
  --color3: #b13d48;
  --color4: #f5f5f5;
  --color5: #ffffff;
}

.main-container {
  background-color: var(--color4);
} 

/*
===========================================================
                       NAVABAR
 ==========================================================
*/

.navbar {
  width: 100%;
  background-image: linear-gradient(to top, #3b3a3b, #3b393a, 60%, #3d393a 40%, #585858);
  font-size: 0.85rem;
}

.logo-img img {
  width: 50px;
  height: 50px;
}

.main-bg {
  background: url(../images/bg-image.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
  height: 700px;
}

/*
===========================================================
                        HEADER
 ==========================================================
*/

.logo-name {
  font-family: 'Balsamiq Sans', cursive;
}

.bttn-icon i {
  color: var(--color2);
}

/*
===========================================================
                     Main
 ==========================================================
*/

.sale-info {
  
  height: 300px;
  margin: 0 auto;
  background-color: var(--color2);
}

.img-shipping img {
  width: 89px;
  height: 89px;
}


/*
===========================================================
                     MEDIA QUERIES
 ==========================================================
*/

@media screen and (min-width: 768px) {
  .category-info h3 {
    top: 0;
    left: 140px;
  }
 } 

@media screen and (min-width: 960px) {
  .sale-info p {
    font-size: 20px;
  }

  .checks {
    margin-left: 12px;
  } 

  .bttn-learn {
    font-size: 20px;
  }
} 




