/*
===========================================================
                       GENERAL STYLES
 ==========================================================
*/

:root {
  --color1: #3b393a;
  --color2: #888;
  --color3: #d35266;
  --color4: #efefef;
  --color5: #fff;

}

.main-container {
  background-color: var(--color4);
}

/*
===========================================================
                       NAVABAR
 ==========================================================
*/

.navbar {
  width: 100%;
  height: 70px;
  background-image: linear-gradient(to top, #3b3a3b, #3b393a, 60%, #3d393a 40%, #585858);
  font-size: 0.85rem;
}

.logo-img {
  width: 60px;
  height: 60px;
}

.logo-img img {
  width: 35px;
  height: 35px;
}

.main-bg {
  background: radial-gradient(farthest-corner at 80% 30%, rgba(230, 230, 230, 0.09), #3b393a),
    url(../images/bg-image.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
  height: 700px;
}

.main-bg-1 {
  background: radial-gradient(farthest-corner at 80% 30%, rgba(230, 230, 230, 0.09), #3b393a),
    url(../images/bg-image-1.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
  height: 660px;
}

.searchbox h5 {
  color: var(--color2);
}

/*
===========================================================
                        HEADER
 ==========================================================
*/

.logo-name {
  font-family: "Gotham", cursive;
}

.bttn-icon i {
  color: var(--color2);
}

/*
===========================================================
                     Main
 ==========================================================
*/

.bg-white {
  background-color: var(--color5)
}

.sale-info {
  height: 300px;
  margin: 0 auto;
  background-color: var(--color3);
}

.btn-color {
  background-color: var(--color2)
 
}

.electric-guitars {
  background-image: url(../images/electric\ guitars.jpg);
}

.pedals {
  background-image: url(../images/pedals.jpg);
}

.acustic-guitars {
  background-image: url(../images/acustic\ guitars.jpg);
}

.bass {
  background-image: url(../images/bass.jpg);
}

.keyboards {
  background-image: url(../images/keyboards.jpg);
}

.drum-kits {
  background-image: url(../images/drum-kits.jpg);
}

.instrument {
  background-size: 100%;
  background-repeat: no-repeat;
  background-origin: content-box;
}

.shipping {
  background-color: var(--color4);
}

.img-shipping img {
  width: 89px;
  height: 89px;
}

.brands {
  background-color: var(--color4);
}

.bg {
  background-color: var(--color2);
}

.block-title {
  margin-bottom: 5px;
}

.sort {
  width: 150px;
}

.toolbar {
  background-color: var(--color4);
}

/*
===========================================================
                     FOOTER
 ==========================================================
*/

.top-footer,
.bottom-footer {
  background-color: var(--color1);
}

.fmenu * + * {
  color: var(--color5);
}

/*
===========================================================
                     MEDIA QUERIES
 ==========================================================
*/

@media screen and (max-width: 768px) {
  .instrument {
    height: 16rem;
  }
}

@media screen and (min-width: 768px) {
  .logo-img img {
    max-width: 50px;
    max-height: 50px;
  }

  .instrument {
    height: 12rem;
  }
}

@media screen and (min-width: 960px) {
  .sale-info p {
    font-size: 20px;
  }

  .checks {
    margin-left: 12px;
  }

  .bttn-learn {
    font-size: 20px;
  }

  .instrument {
    height: 15rem;
  }
}
